@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #CB3A1A;
    --secondary: #111111;
    --paragraph: #74787C;
  }

  * {
    @apply border-gray-200;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans text-secondary antialiased bg-white;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-7xl;
  }

  .text-balance {
    text-wrap: balance;
  }
}
